<header id="header">
  <input type="checkbox" id="check" />
  <label class="hamburger" for="check">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
  <section class="branding">
    <img src="https://picsum.photos/id/1062/64/64" alt="logo" />
    <h1>Clinica Privada</h1>
  </section>
  <nav>
    <ul>
      <li><a href="#header">Inicio</a></li>
      <li><a href="#carousel">Carrucel</a></li>
      <li><a href="#about">Descripcion</a></li>
      <li><a href="#contact">Formulario</a></li>
      <li><a href="#testimonials">Testimonio</a></li>
      <li><a href="#footer">Pie de pagina</a></li>
    </ul>
  </nav>
</header>